body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #000;
  --secndory: #18181b;
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39,39,42);
  --blue:rgb(93 188 252);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  min-width: 100%;
  min-height: 87vh;
  background-color: #F8F8F8;
  margin: 0 auto;

}
.main .container-all{
  width: 70%;
  min-height: 87vh;
  background-color: #ffff;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  
}
@media (max-width:700px) {
  .main .container-all{
    width: 100%;
  
    min-height: 87vh;
  }
}
.totop{
border: none;
  width: 50px;
  height: 50px;
  background-color: #003366;
  text-align: center;
  
  border-radius: 50%;
  color: #fff;
  position: fixed;
  right: 10%;
  bottom: 20px;
  z-index: 99999;
  transition: .5s;
  }
  .totop:hover{
    transition: .5s;
    background-color: aqua;
    border-color: aqua;
    color: #000;
  }
/* End Global Rules */
/* start nav */
